.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: white;
  }
  
  .bar-chart {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
  }
  
  .recharts-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .recharts-legend {
    font-size: 14px;
  }
  
  .recharts-cartesian-axis-tick-value {
    font-size: 12px;
  }
  
  .recharts-bar-rect {
    fill: #6da5ff;
  }
  
  .recharts-cartesian-grid-horizontal line {
    stroke: #ccc;
  }
  
  .recharts-cartesian-axis-label {
    font-size: 14px;
  }
  
  .recharts-cartesian-x-axis-tick-value {
    font-size: 14px;
  }
  