.text-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.text-input {
    flex-wrap: wrap;
    width: 70%;
    padding: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

textarea {
    max-width: 1500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 254, 254, 0.805);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0069D9;
}

.answer-container {
    margin-top: 20px;
    max-width: 1500px;
}